body{
  display:flex;
  justify-content: center;
}
.container{
  margin-top: 50px;
  padding: 40px;
  width: 80vw;
  border: 2px solid black;
}

.score{
  color: white;
  background: #4d59fb;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.5);
}
.boxes{
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.result{
  margin-top: 10px;
  font-size:30px;
  text-align: center;
}
.buttons{
  display:flex;
  justify-content: center;
  gap: 10px;
  
}

.btn{
  margin-top: 10px;
  cursor: pointer;
}
.btn img{
  border-radius: 10px;
}
.btn:hover img{
  filter: brightness(80%);
}

.Win{
  border: 10px dotted green;
}

